body {
    background-color:#1da1f2;
    font-family: Arial, sans-serif;
}

.contenedor {
    background-color: white;
    width: 600px;
    height: 207px;
    padding: 20px;
    border: 5px;
 }
 .primeraparte {
    display:flex;
   align-items:center;
}
 
 .imagen {
    width: 50px;
    height: 50px;

}
img {
    width: 50px;
    height: 50px;
}

.identidad {
    font-size: 20px;
    font-weight: bold;
}


.sub3 {
    font-size:15px;
}